@model EliteDangerous_test.Models.ViewSystemsIndex

@{
    ViewBag.Title = "Systemes list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("First 20", "Index", new { id = 1 }) |
    @Html.ActionLink("Previous 20", "Index", new { id = Model.Systems.First().Id - 20 })|
    @Html.DisplayFor(model => Model.Systems.First().Id) |
    @Html.ActionLink("Next 20", "Index", new { id = Model.Systems.First().Id + 20 })|
    @Html.ActionLink("Last 20", "Index", new { id = Model.SystemCount - 20 })
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().XYZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().faction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().population)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().government)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().allegiance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().Station)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().security)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().primary_economy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().needs_permit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Systems.First().power_control_faction)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Systems.First().updated_at)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Systems)
    {
        <tr>
            <td>
                @Html.ActionLink(item.name, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XYZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.population)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.government)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.allegiance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @foreach (var station in item.Station)
                {
                    @Html.ActionLink(station.name, "Details", "Stations", new { id = station.Id }, null)
                    <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.security)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primary_economy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.needs_permit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.power_control_faction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updated_at)
            </td>

        </tr>
    }

</table>
